
<body>
<center>
<img src="https://1ycbx02rgnsa1i87hd1i7v1r-wpengine.netdna-ssl.com/wp-content/uploads/2017/07/product-hunt-2.png" style="height:400px;width:auto">
    
<!--<h1>Is your product cool enough to fall on theon the pH (Product Hunt) scale? </h1>-->
<h1>A Quick test to see if you have the cool factor! Because It's Fun Being the Cool Kids</h1>
<div hidden class="points"></div>
<div  class="form"></div>

<div class="col-lg-10 col-lg-offset-1">
<button class="start btn circle btn-lg" style="background:#da552f;color:white">Start Survey Now (Result will be a percent chance on the coolness of your product) <i class="fa fa-caret-right"></i> </button>    
<br><br><br>
<div id="quiz"></div>
<button  class=" hidden btn btn-primary circle btn-lg" id="submit">Submit Quiz <i class="fa fa-star fa-2x"></i></button>
</div>

</center>

</body>




<script>


</script>