<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <!--<style src="/assets/bootstrap.css"></style>-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
 <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<%= yield %>

</body>
<!--<script src="https://use.fontawesome.com/140001677e.js"></script>-->
<script src='/assets/custom.js'></script>
<script src='/assets/starttest.js'></script>
</html>
